
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(173, 202, 192);
  
}
.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    
    a:hover {
        font-size: larger;
        text-decoration: none;
        }
    }

.landing    {
    height: 80vh;
    .sub-header {
        text-align: center;
    }
    .contact h1 {
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: center;
    }
    .contact-section    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-left: 150px;
    
        .button {
            border: none;
            color: rgb(177, 169, 169);
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            align-items: flex-end;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border: 2px solid #4CAF50;
          }
    }
    .footer {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
}